<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Learn You a Physics for Great Good!</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-AMS_CHTML-full" type="text/javascript"></script>
  </head>

  <body>
    <header>
      <a href="../index.html"><h1>Learn You a <span class="physics">Physics</span> for Great Good!</h1></a>
      <h1>&gt;&gt;&gt; WORK IN PROGRESS &lt;&lt;&lt;</h1>
      <nav>
        <span>Previous: <a href="{previous-href}">{previous-name}</a></span>
        <a href="../index.html">Table of contents</a>
        <span>Next: <a href="{next-href}">{next-name}</a></span>
      </nav>
    </header>

    <main>
      {content}
    </main>

    <footer>
      Licensed under the GPL by the Kandidatboisen (2018)
    </footer>
  </body>
</html>
